In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [3]:
data_true=pd.read_csv(r"C:\Users\ladm\Downloads\Fake_news\Fake_news\True.csv")
data_false=pd.read_csv(r"C:\Users\ladm\Downloads\Fake_news\Fake_news\Fake.csv")

In [4]:
data_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [5]:
data_false.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [8]:
data_false["class"] = 0
data_true["class"] = 1

In [9]:
data_true.shape, data_false.shape

((21417, 5), (23481, 5))

In [11]:
data_false_manual_testing = data_false.tail(10)
for i in range(23480,23470,-1):
    data_false.drop([i], axis=0, inplace=True)
data_true_manual_testing = data_true.tail(10)
for i in range(21416,21406,-1):
    data_false.drop([i], axis=0, inplace=True)

In [12]:
df_manual_testing = pd.concat([data_false_manual_testing, data_true_manual_testing], axis=0)
df_manual_testing.to_csv("manual_testing.csv")

In [15]:
data_merge = pd.concat([data_false, data_true], axis=0)
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [17]:
data = data_merge.drop(["title", "subject" , "date" ], axis=1)
data.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [18]:
data= data.sample(frac = 1)

In [19]:
data.head(10)

                                                    text  class
17464  The latest video from Campus Reform shows just...      0
2360   Jon Stewart may not be routinely commenting on...      0
685    Well, it s happened. In the manner of every ot...      0
7705   The Donald Trump bandwagon is beginning to sho...      0
21402  In case you hadn t heard, Obama signed a new U...      0
14975  The old reliable stone most commonly used by a...      0
18679  Did you know that in the state of Texas alone ...      0
5553   WASHINGTON (Reuters) - Nine senators from his ...      1
16038  KABUL (Reuters) - A suicide bomber in the Afgh...      1
557    WASHINGTON (Reuters) - The head of the U.S. Fe...      1

In [21]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [22]:
def remove(text):
    text = text.lower()
    text = re.sub('\[.*?\]','', text)
    text = re.sub("\W"," ",text)
    text = re.sub('https?://\S+ |www\.\S+', '', text)
    text = re.sub('<,*?>+', '', text)
    text = re.sub('[%s]' %re.escape(string.punctuation), '', text)
    text = re.sub('\n' , '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [23]:
data["text"] = data["text"].apply(remove)

In [24]:
data.head(10)

                                                    text  class
17464  the latest video from campus reform shows just...      0
2360   jon stewart may not be routinely commenting on...      0
685    well  it s happened  in the manner of every ot...      0
7705   the donald trump bandwagon is beginning to sho...      0
21402  in case you hadn t heard  obama signed a new u...      0
14975  the old reliable stone most commonly used by a...      0
18679  did you know that in the state of texas alone ...      0
5553   washington  reuters    nine senators from his ...      1
16038  kabul  reuters    a suicide bomber in the afgh...      1
557    washington  reuters    the head of the u s  fe...      1

In [25]:
x = data["text"]
y = data["class"]

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .25)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

### Logistic regression

In [31]:
from sklearn.linear_model import LogisticRegression

In [32]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [35]:
LR.score(xv_test, y_test)

0.9871657754010695